<div id="contactModal" class="modal-overlay">
  <div class="modal-content gh-content">
    <button class="modal-close" aria-label="Close">&times;</button>
      <h2>Contact</h2>
      <p>
        Want to work together or have a chat? <a href="#" id="emailLink">Email me!</a>
      </p>
  </div>
</div>
